*
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position :sticky
    top 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #FFA500,#FFA500)
}

navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}